# ============================
# Sphinx Documentation Requirements
# ============================

# Core
sphinx>=7.3
furo

# Markdown & rich content
myst-parser
sphinx-design>=0.6
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-proof==0.3.0
sphinx.ext.todo

# Autodoc and type support
sphinx-autodoc-typehints

# Optional: improves docstring parsing and code rendering
sphinxcontrib-htmlhelp
sphinxcontrib-serializinghtml
sphinx-fontawesome